@use '@/styles/variables.module' as v;

.module {
  padding: 1.25rem 1.75rem;
  overflow: scroll;
  background-color: var(--c-base-300);
  border-radius: 1.5rem;
  box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 25%);

  ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;

    @include v.mq(md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include v.mq(xs) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
