.module {
  padding: 1.5rem 1.75rem;
}

.prefecture {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.population {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.list {
  margin-top: 1rem;
}

.graph {
  min-height: 400px;
  margin-top: 1rem;
}
